<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.rephlexions.taskscheduler">

    <application
        android:name=".TaskSchedulerApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddEditTaskActivity"
            android:parentActivityName=".MainActivity">

        </activity>
        <activity
            android:name=".DeadlinePickerActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:taskAffinity=""
            android:theme="@android:style/Theme.Dialog">

        </activity>
        <activity android:name=".MPAndroidChartActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <receiver android:name=".reminders.AlertReceiver" />
        <receiver android:name=".utils.ActionReceiver"></receiver>
    </application>

    <uses-permission android:name="android.permission.SET_ALARM"></uses-permission>

</manifest>